<?xml version="1.0" standalone="no"?>
<!DOCTYPE entity PUBLIC "-//UC Berkeley//DTD MoML 1//EN"
    "http://ptolemy.eecs.berkeley.edu/xml/dtd/MoML_1.dtd">
<entity name="system" class="ptolemy.actor.TypedCompositeActor">
    <property name="_createdBy" class="ptolemy.kernel.attributes.VersionAttribute" value="9.0.devel">
    </property>
    <property name="SDF Director" class="ptolemy.domains.sdf.kernel.SDFDirector">
        <property name="iterations" class="ptolemy.data.expr.Parameter" value="(endTime-beginTime)/timeStep+1">
        </property>
        <property name="vectorizationFactor" class="ptolemy.data.expr.Parameter" value="1">
        </property>
        <property name="allowDisconnectedGraphs" class="ptolemy.data.expr.Parameter" value="true">
        </property>
        <property name="period" class="ptolemy.data.expr.Parameter" value="timeStep">
        </property>
        <property name="synchronizeToRealTime" class="ptolemy.data.expr.Parameter" value="false">
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="[90.0, 65.0]">
        </property>
    </property>
    <property name="timeStep" class="ptolemy.data.expr.Parameter" value="1">
        <property name="_icon" class="ptolemy.vergil.icon.ValueIcon">
            <property name="_color" class="ptolemy.actor.gui.ColorAttribute" value="{0.0, 0.0, 1.0, 1.0}">
            </property>
        </property>
        <property name="_smallIconDescription" class="ptolemy.kernel.util.SingletonConfigurableAttribute">
            <configure>
      <svg>
        <text x="20" style="font-size:14; font-family:SansSerif; fill:blue" y="20">-P-</text>
      </svg>
    </configure>
        </property>
        <property name="_editorFactory" class="ptolemy.vergil.toolbox.VisibleParameterEditorFactory">
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="[190.0, 65.0]">
        </property>
    </property>
    <property name="beginTime" class="ptolemy.data.expr.Parameter" value="0">
        <property name="_icon" class="ptolemy.vergil.icon.ValueIcon">
            <property name="_color" class="ptolemy.actor.gui.ColorAttribute" value="{0.0, 0.0, 1.0, 1.0}">
            </property>
        </property>
        <property name="_smallIconDescription" class="ptolemy.kernel.util.SingletonConfigurableAttribute">
            <configure>
      <svg>
        <text x="20" style="font-size:14; font-family:SansSerif; fill:blue" y="20">-P-</text>
      </svg>
    </configure>
        </property>
        <property name="_editorFactory" class="ptolemy.vergil.toolbox.VisibleParameterEditorFactory">
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="[190.0, 45.0]">
        </property>
    </property>
    <property name="endTime" class="ptolemy.data.expr.Parameter" value="10">
        <property name="_icon" class="ptolemy.vergil.icon.ValueIcon">
            <property name="_color" class="ptolemy.actor.gui.ColorAttribute" value="{0.0, 0.0, 1.0, 1.0}">
            </property>
        </property>
        <property name="_smallIconDescription" class="ptolemy.kernel.util.SingletonConfigurableAttribute">
            <configure>
      <svg>
        <text x="20" style="font-size:14; font-family:SansSerif; fill:blue" y="20">-P-</text>
      </svg>
    </configure>
        </property>
        <property name="_editorFactory" class="ptolemy.vergil.toolbox.VisibleParameterEditorFactory">
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="{190.0, 85.0}">
        </property>
    </property>
    <property name="annotation" class="ptolemy.kernel.util.Attribute">
        <property name="_hideName" class="ptolemy.kernel.util.SingletonAttribute">
        </property>
        <property name="_iconDescription" class="ptolemy.kernel.util.SingletonConfigurableAttribute">
            <configure><svg><text x="20" y="20" style="font-size:14; font-family:SansSerif; fill:blue">This model illustrates how to fire system commands at different rates.
The actor SystemCommand at the top of the model fires each iteration.
Inside the ModalModel, there is another actor SystemCommand, which
fires once every three iterations.

To change the rate of firing, change the parameter in the Remainder actor.

To see the implementation, open the ModalModel actor.</text></svg></configure>
        </property>
        <property name="_smallIconDescription" class="ptolemy.kernel.util.SingletonConfigurableAttribute">
            <configure>
      <svg>
        <text x="20" style="font-size:14; font-family:SansSerif; fill:blue" y="20">-A-</text>
      </svg>
    </configure>
        </property>
        <property name="_controllerFactory" class="ptolemy.vergil.basic.NodeControllerFactory">
        </property>
        <property name="_editorFactory" class="ptolemy.vergil.toolbox.AnnotationEditorFactory">
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="[295.0, 25.0]">
        </property>
    </property>
    <property name="annotation2" class="ptolemy.kernel.util.Attribute">
        <property name="_hideName" class="ptolemy.kernel.util.SingletonAttribute">
        </property>
        <property name="_iconDescription" class="ptolemy.kernel.util.SingletonConfigurableAttribute">
            <configure><svg><text x="20" y="20" style="font-size:14; font-family:SansSerif; fill:darkgray">Author: Michael Wetter</text></svg></configure>
        </property>
        <property name="_smallIconDescription" class="ptolemy.kernel.util.SingletonConfigurableAttribute">
            <configure>
      <svg>
        <text x="20" style="font-size:14; font-family:SansSerif; fill:blue" y="20">-A-</text>
      </svg>
    </configure>
        </property>
        <property name="_controllerFactory" class="ptolemy.vergil.basic.NodeControllerFactory">
        </property>
        <property name="_editorFactory" class="ptolemy.vergil.toolbox.AnnotationEditorFactory">
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="[60.0, 410.0]">
        </property>
    </property>
    <property name="_windowProperties" class="ptolemy.actor.gui.WindowPropertiesAttribute" value="{bounds={362, 111, 1078, 640}, maximized=false}">
    </property>
    <property name="_vergilSize" class="ptolemy.actor.gui.SizeAttribute" value="[862, 516]">
    </property>
    <property name="_vergilZoomFactor" class="ptolemy.data.expr.ExpertParameter" value="1.0582916964073">
    </property>
    <property name="_vergilCenter" class="ptolemy.data.expr.ExpertParameter" value="{440.280003270111, 237.1315810987564}">
    </property>
    <entity name="SystemCommand" class="lbnl.actor.lib.SystemCommand">
        <property name="programName" class="ptolemy.data.expr.FileParameter" value="./writeToConsole">
        </property>
        <property name="programArguments" class="ptolemy.data.expr.Parameter" value="&quot;Actor $actorNumber at time = $time&quot;">
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="[350.0, 210.0]">
        </property>
        <port name="exitValue" class="ptolemy.actor.TypedIOPort">
            <property name="output"/>
            <property name="_showName" class="ptolemy.data.expr.SingletonParameter" value="true">
            </property>
        </port>
        <port name="output" class="ptolemy.actor.TypedIOPort">
            <property name="output"/>
            <property name="_showName" class="ptolemy.data.expr.SingletonParameter" value="true">
            </property>
        </port>
        <port name="error" class="ptolemy.actor.TypedIOPort">
            <property name="output"/>
            <property name="_showName" class="ptolemy.data.expr.SingletonParameter" value="true">
            </property>
        </port>
        <port name="actorNumber" class="ptolemy.actor.TypedIOPort">
            <property name="input"/>
            <property name="_showName" class="ptolemy.data.expr.SingletonParameter" value="true">
            </property>
        </port>
    </entity>
    <entity name="x1" class="ptolemy.actor.lib.Const">
        <property name="value" class="ptolemy.data.expr.Parameter" value="1">
        </property>
        <doc>Create a constant sequence.</doc>
        <property name="_icon" class="ptolemy.vergil.icon.BoxedValueIcon">
            <property name="attributeName" class="ptolemy.kernel.util.StringAttribute" value="value">
            </property>
            <property name="displayWidth" class="ptolemy.data.expr.Parameter" value="60">
            </property>
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="[120.0, 210.0]">
        </property>
    </entity>
    <entity name="Output" class="ptolemy.actor.lib.gui.Display">
        <property name="_windowProperties" class="ptolemy.actor.gui.WindowPropertiesAttribute" value="{bounds={605, 241, 601, 407}, maximized=false}">
        </property>
        <property name="_paneSize" class="ptolemy.actor.gui.SizeAttribute" value="[599, 346]">
        </property>
        <property name="columnsDisplayed" class="ptolemy.data.expr.Parameter" value="30">
        </property>
        <property name="suppressBlankLines" class="ptolemy.data.expr.Parameter" value="false">
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="[660.0, 210.0]">
        </property>
    </entity>
    <entity name="CurrentTime" class="ptolemy.actor.lib.CurrentTime">
        <doc>Output the current time.</doc>
        <property name="_location" class="ptolemy.kernel.util.Location" value="[125.0, 370.0]">
        </property>
    </entity>
    <entity name="Round" class="ptolemy.actor.lib.conversions.Round">
        <property name="function" class="ptolemy.kernel.util.StringAttribute" value="round">
            <property name="style" class="ptolemy.actor.gui.style.ChoiceStyle">
                <property name="ceil" class="ptolemy.kernel.util.StringAttribute" value="ceil">
                </property>
                <property name="floor" class="ptolemy.kernel.util.StringAttribute" value="floor">
                </property>
                <property name="round" class="ptolemy.kernel.util.StringAttribute" value="round">
                </property>
                <property name="truncate" class="ptolemy.kernel.util.StringAttribute" value="truncate">
                </property>
            </property>
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="[460.0, 305.0]">
        </property>
    </entity>
    <entity name="Remainder" class="ptolemy.actor.lib.Remainder">
        <property name="divisor" class="ptolemy.data.expr.Parameter" value="5.0">
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="[345.0, 305.0]">
        </property>
    </entity>
    <entity name="ModalModel" class="ptolemy.domains.modal.modal.ModalModel">
        <property name="_tableauFactory" class="ptolemy.vergil.modal.modal.ModalTableauFactory">
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="[555.0, 360.0]">
        </property>
        <port name="input" class="ptolemy.domains.modal.modal.ModalPort">
            <property name="input"/>
            <property name="_showName" class="ptolemy.data.expr.SingletonParameter" value="true">
            </property>
        </port>
        <port name="port2" class="ptolemy.domains.modal.modal.ModalPort">
            <property name="output"/>
        </port>
        <port name="modelTime" class="ptolemy.domains.modal.modal.ModalPort">
            <property name="input"/>
            <property name="_showName" class="ptolemy.data.expr.SingletonParameter" value="true">
            </property>
        </port>
        <entity name="_Controller" class="ptolemy.domains.modal.modal.ModalController">
            <property name="_library" class="ptolemy.moml.LibraryAttribute">
                <configure>
      <entity name="state library" class="ptolemy.kernel.CompositeEntity"><input source="ptolemy/configs/basicUtilities.xml"></input><entity name="state" class="ptolemy.domains.modal.kernel.State"><property name="_centerName" class="ptolemy.kernel.util.Attribute"></property><property name="_controllerFactory" class="ptolemy.vergil.modal.modal.HierarchicalStateControllerFactory"></property></entity></entity>
    </configure>
            </property>
            <property name="_windowProperties" class="ptolemy.actor.gui.WindowPropertiesAttribute" value="{bounds={436, 259, 808, 531}, maximized=false}">
            </property>
            <property name="_vergilSize" class="ptolemy.actor.gui.SizeAttribute" value="[600, 400]">
            </property>
            <property name="_vergilZoomFactor" class="ptolemy.data.expr.ExpertParameter" value="1.242977400227">
            </property>
            <property name="_vergilCenter" class="ptolemy.data.expr.ExpertParameter" value="{293.35595703125, 174.9391276041667}">
            </property>
            <port name="input" class="ptolemy.domains.modal.modal.RefinementPort">
                <property name="input"/>
                <property name="_location" class="ptolemy.kernel.util.Location" value="[65.0, 185.0]">
                </property>
            </port>
            <port name="port2" class="ptolemy.domains.modal.modal.RefinementPort">
                <property name="input"/>
                <property name="output"/>
                <property name="_location" class="ptolemy.kernel.util.Location" value="[415.0, 185.0]">
                </property>
            </port>
            <port name="modelTime" class="ptolemy.domains.modal.modal.RefinementPort">
                <property name="input"/>
                <property name="_location" class="ptolemy.kernel.util.Location" value="[70.0, 240.0]">
                </property>
            </port>
            <entity name="call" class="ptolemy.domains.modal.kernel.State">
                <property name="refinementName" class="ptolemy.kernel.util.StringAttribute" value="call">
                </property>
                <property name="isInitialState" class="ptolemy.data.expr.Parameter" value="true">
                </property>
                <property name="_hideName" class="ptolemy.data.expr.SingletonParameter" value="true">
                </property>
                <property name="_controllerFactory" class="ptolemy.vergil.modal.modal.HierarchicalStateControllerFactory">
                </property>
                <property name="_location" class="ptolemy.kernel.util.Location" value="[155.0, 180.0]">
                </property>
            </entity>
            <entity name="sleep" class="ptolemy.domains.modal.kernel.State">
                <property name="isInitialState" class="ptolemy.data.expr.Parameter" value="false">
                </property>
                <property name="_hideName" class="ptolemy.data.expr.SingletonParameter" value="true">
                </property>
                <property name="_controllerFactory" class="ptolemy.vergil.modal.modal.HierarchicalStateControllerFactory">
                </property>
                <property name="_location" class="ptolemy.kernel.util.Location" value="[295.0, 185.0]">
                </property>
            </entity>
            <relation name="relation" class="ptolemy.domains.modal.kernel.Transition">
                <property name="guardExpression" class="ptolemy.kernel.util.StringAttribute" value="input != 0">
                </property>
                <property name="exitAngle" class="ptolemy.data.expr.Parameter" value="0.6283185307179586">
                </property>
                <property name="gamma" class="ptolemy.data.expr.Parameter" value="0.12352045942491893">
                </property>
                <property name="preemptive" class="ptolemy.data.expr.Parameter" value="false">
                </property>
            </relation>
            <relation name="relation2" class="ptolemy.domains.modal.kernel.Transition">
                <property name="guardExpression" class="ptolemy.kernel.util.StringAttribute" value="input == 0">
                </property>
                <property name="exitAngle" class="ptolemy.data.expr.Parameter" value="0.6494052985226691">
                </property>
                <property name="gamma" class="ptolemy.data.expr.Parameter" value="-3.0817745608879803">
                </property>
                <property name="preemptive" class="ptolemy.data.expr.Parameter" value="false">
                </property>
            </relation>
            <link port="call.incomingPort" relation="relation2"/>
            <link port="call.outgoingPort" relation="relation"/>
            <link port="sleep.incomingPort" relation="relation"/>
            <link port="sleep.outgoingPort" relation="relation2"/>
        </entity>
        <entity name="call" class="ptolemy.domains.modal.modal.Refinement">
            <property name="SDF Director" class="ptolemy.domains.sdf.kernel.SDFDirector">
                <property name="iterations" class="ptolemy.data.expr.Parameter" value="0">
                </property>
                <property name="_location" class="ptolemy.kernel.util.Location" value="65.0, 35.0">
                </property>
            </property>
            <property name="_windowProperties" class="ptolemy.actor.gui.WindowPropertiesAttribute" value="{bounds={817, 354, 808, 530}, maximized=false}">
            </property>
            <property name="_vergilSize" class="ptolemy.actor.gui.SizeAttribute" value="[600, 400]">
            </property>
            <property name="_vergilZoomFactor" class="ptolemy.data.expr.ExpertParameter" value="0.8">
            </property>
            <property name="_vergilCenter" class="ptolemy.data.expr.ExpertParameter" value="{300.0, 200.0}">
            </property>
            <port name="input" class="ptolemy.domains.modal.modal.RefinementPort">
                <property name="input"/>
                <property name="_location" class="ptolemy.kernel.util.Location" value="[32.25, 100.0]">
                </property>
            </port>
            <port name="port2" class="ptolemy.domains.modal.modal.RefinementPort">
                <property name="output"/>
                <property name="_location" class="ptolemy.kernel.util.Location" value="[245.0, 150.0]">
                </property>
            </port>
            <port name="modelTime" class="ptolemy.domains.modal.modal.RefinementPort">
                <property name="input"/>
                <property name="_location" class="ptolemy.kernel.util.Location" value="[32.25, 150.0]">
                </property>
            </port>
            <entity name="SystemCommand" class="lbnl.actor.lib.SystemCommand">
                <property name="programName" class="ptolemy.data.expr.FileParameter" value="./writeToConsole">
                </property>
                <property name="programArguments" class="ptolemy.data.expr.Parameter" value="&quot;Actor in FSM at time = $modelTime&quot;">
                </property>
                <property name="simulationLogFile" class="ptolemy.data.expr.FileParameter" value="simulationFSM.log">
                </property>
                <property name="_location" class="ptolemy.kernel.util.Location" value="[147.75, 150.0]">
                </property>
                <port name="exitValue" class="ptolemy.actor.TypedIOPort">
                    <property name="output"/>
                    <property name="_showName" class="ptolemy.data.expr.SingletonParameter" value="true">
                    </property>
                </port>
                <port name="output" class="ptolemy.actor.TypedIOPort">
                    <property name="output"/>
                    <property name="_showName" class="ptolemy.data.expr.SingletonParameter" value="true">
                    </property>
                </port>
                <port name="error" class="ptolemy.actor.TypedIOPort">
                    <property name="output"/>
                    <property name="_showName" class="ptolemy.data.expr.SingletonParameter" value="true">
                    </property>
                </port>
                <port name="modelTime" class="ptolemy.actor.TypedIOPort">
                    <property name="input"/>
                    <property name="_showName" class="ptolemy.data.expr.SingletonParameter" value="true">
                    </property>
                </port>
            </entity>
            <relation name="relation" class="ptolemy.actor.TypedIORelation">
            </relation>
            <relation name="relation2" class="ptolemy.actor.TypedIORelation">
            </relation>
            <link port="port2" relation="relation2"/>
            <link port="modelTime" relation="relation"/>
            <link port="SystemCommand.output" relation="relation2"/>
            <link port="SystemCommand.modelTime" relation="relation"/>
        </entity>
        <relation name="inputRelation" class="ptolemy.actor.TypedIORelation">
            <property name="width" class="ptolemy.data.expr.Parameter" value="Auto">
            </property>
        </relation>
        <relation name="port2Relation" class="ptolemy.actor.TypedIORelation">
            <property name="width" class="ptolemy.data.expr.Parameter" value="Auto">
            </property>
        </relation>
        <relation name="modelTimeRelation" class="ptolemy.actor.TypedIORelation">
            <property name="width" class="ptolemy.data.expr.Parameter" value="Auto">
            </property>
        </relation>
        <link port="input" relation="inputRelation"/>
        <link port="port2" relation="port2Relation"/>
        <link port="modelTime" relation="modelTimeRelation"/>
        <link port="_Controller.input" relation="inputRelation"/>
        <link port="_Controller.port2" relation="port2Relation"/>
        <link port="_Controller.modelTime" relation="modelTimeRelation"/>
        <link port="call.input" relation="inputRelation"/>
        <link port="call.port2" relation="port2Relation"/>
        <link port="call.modelTime" relation="modelTimeRelation"/>
    </entity>
    <entity name="OutputFSM" class="ptolemy.actor.lib.gui.Display">
        <property name="_windowProperties" class="ptolemy.actor.gui.WindowPropertiesAttribute" value="{bounds={989, 677, 381, 225}, maximized=false}">
        </property>
        <property name="_paneSize" class="ptolemy.actor.gui.SizeAttribute" value="[379, 164]">
        </property>
        <property name="columnsDisplayed" class="ptolemy.data.expr.Parameter" value="30">
        </property>
        <property name="suppressBlankLines" class="ptolemy.data.expr.Parameter" value="true">
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="[655.0, 360.0]">
        </property>
    </entity>
    <entity name="x" class="ptolemy.actor.lib.Const">
        <property name="value" class="ptolemy.data.expr.Parameter" value="1">
        </property>
        <doc>Create a constant sequence.</doc>
        <property name="_icon" class="ptolemy.vergil.icon.BoxedValueIcon">
            <property name="attributeName" class="ptolemy.kernel.util.StringAttribute" value="value">
            </property>
            <property name="displayWidth" class="ptolemy.data.expr.Parameter" value="60">
            </property>
        </property>
        <property name="_location" class="ptolemy.kernel.util.Location" value="[125.0, 290.0]">
        </property>
    </entity>
    <entity name="AddSubtract" class="ptolemy.actor.lib.AddSubtract">
        <property name="_location" class="ptolemy.kernel.util.Location" value="[240.0, 305.0]">
        </property>
    </entity>
    <relation name="relation3" class="ptolemy.actor.TypedIORelation">
    </relation>
    <relation name="relation" class="ptolemy.actor.TypedIORelation">
    </relation>
    <relation name="relation6" class="ptolemy.actor.TypedIORelation">
    </relation>
    <relation name="relation7" class="ptolemy.actor.TypedIORelation">
        <property name="width" class="ptolemy.data.expr.Parameter" value="-1">
        </property>
        <vertex name="vertex1" value="[200.0, 370.0]">
        </vertex>
    </relation>
    <relation name="relation5" class="ptolemy.actor.TypedIORelation">
    </relation>
    <relation name="relation2" class="ptolemy.actor.TypedIORelation">
    </relation>
    <relation name="relation4" class="ptolemy.actor.TypedIORelation">
    </relation>
    <relation name="relation8" class="ptolemy.actor.TypedIORelation">
    </relation>
    <link port="SystemCommand.output" relation="relation"/>
    <link port="SystemCommand.actorNumber" relation="relation3"/>
    <link port="x1.output" relation="relation3"/>
    <link port="Output.input" relation="relation"/>
    <link port="CurrentTime.output" relation="relation7"/>
    <link port="Round.input" relation="relation6"/>
    <link port="Round.output" relation="relation2"/>
    <link port="Remainder.input" relation="relation5"/>
    <link port="Remainder.output" relation="relation6"/>
    <link port="ModalModel.input" relation="relation2"/>
    <link port="ModalModel.port2" relation="relation8"/>
    <link port="ModalModel.modelTime" relation="relation7"/>
    <link port="OutputFSM.input" relation="relation8"/>
    <link port="x.output" relation="relation4"/>
    <link port="AddSubtract.plus" relation="relation4"/>
    <link port="AddSubtract.plus" relation="relation7"/>
    <link port="AddSubtract.output" relation="relation5"/>
</entity>
